Repository META-INT6/REPLANET_RestAPI, pull requests merged in 2023-11, with the labels that each got.

#2 [Featuer] 차트조회
  11-03-script.txt
  src/main/java/metaint/replanet/rest/chart/controller/ChartController.java
  src/main/java/metaint/replanet/rest/chart/dto/CampaignDescriptionDTO.java
  src/main/java/metaint/replanet/rest/chart/entity/CampaignDescription.java
  src/main/java/metaint/replanet/rest/chart/repository/ChartRepository.java
  src/main/java/metaint/replanet/rest/chart/service/ChartService.java
  src/test/java/metaint/replanet/rest/chart/repository/ChartRepositoryTest.java
Labels: documentation

#8 리뷰 전체, 단일 조회 & 등록 거의 구현 완료
  build.gradle
  src/main/java/metaint/replanet/rest/configuration/BeanConfiguration.java
  src/main/java/metaint/replanet/rest/reviews/dto/CampaignDTO.java
  src/main/java/metaint/replanet/rest/reviews/dto/CombineReviewDTO.java
  src/main/java/metaint/replanet/rest/reviews/dto/ReviewDTO.java
  src/main/java/metaint/replanet/rest/reviews/entity/Campaign.java
  src/main/java/metaint/replanet/rest/reviews/entity/Review.java
  src/main/java/metaint/replanet/rest/reviews/model/controller/ReviewController.java
  src/main/java/metaint/replanet/rest/reviews/model/service/ReviewService.java
  src/main/java/metaint/replanet/rest/reviews/repository/CampaignRepository.java
  src/main/java/metaint/replanet/rest/reviews/repository/ReviewRepository.java
  src/main/resources/application.yml
  src/test/java/metaint/replanet/rest/reviews/ReviewTestApplication.java
Labels: enhancement, review

#7 [Feature]캠페인 리스트 조회 0.1.1
  build.gradle
  src/main/java/metaint/replanet/rest/campaign/controller/CampaignController.java
  src/main/java/metaint/replanet/rest/campaign/entity/CampaignDescFile.java
  src/main/java/metaint/replanet/rest/campaign/entity/CampaignDescription.java
  src/main/java/metaint/replanet/rest/campaign/repository/CampaignRepository.java
  src/main/java/metaint/replanet/rest/campaign/service/CampaignService.java
  src/test/java/metaint/replanet/rest/campaign/service/CampaignServiceTest.java
Labels: campaign

#6 [Feature]포인트 전환 신청 0.2.1
  build.gradle
  src/main/java/metaint/replanet/rest/point/controller/ExchangeController.java
  src/main/java/metaint/replanet/rest/point/dto/ExchangeDTO.java
  src/main/java/metaint/replanet/rest/point/entity/Exchange.java
  src/main/java/metaint/replanet/rest/point/service/ExchangeService.java
  src/main/resources/application.yml
Labels: point

#5 [Feature] 결제 0.1.3
  11-03-script.txt
  src/main/java/metaint/replanet/rest/pay/controller/SampleController.java
  src/main/java/metaint/replanet/rest/pay/dto/CampaignDescriptionDTO.java
  src/main/java/metaint/replanet/rest/pay/dto/DonationDTO.java
  src/main/java/metaint/replanet/rest/pay/dto/DonationDataDTO.java
  src/main/java/metaint/replanet/rest/pay/dto/MemberDTO.java
  src/main/java/metaint/replanet/rest/pay/dto/PayDTO.java
  src/main/java/metaint/replanet/rest/pay/dto/pay/AmountVO.java
  src/main/java/metaint/replanet/rest/pay/dto/pay/CardVO.java
  src/main/java/metaint/replanet/rest/pay/dto/pay/DonationAmountDTO.java
  src/main/java/metaint/replanet/rest/pay/dto/pay/KakaoPayApprovalVO.java
  src/main/java/metaint/replanet/rest/pay/dto/pay/KakaoPayReadyVO.java
  src/main/java/metaint/replanet/rest/pay/entity/CampaignDescription.java
  src/main/java/metaint/replanet/rest/pay/entity/Donation.java
  src/main/java/metaint/replanet/rest/pay/entity/Member.java
  src/main/java/metaint/replanet/rest/pay/entity/Pay.java
  src/main/java/metaint/replanet/rest/pay/repository/DonationRepository.java
  src/main/java/metaint/replanet/rest/pay/repository/PayRepository.java
  src/main/java/metaint/replanet/rest/pay/service/KakaoPay.java
Labels: pay

#10 [Fix] 오류 제거
  src/main/java/metaint/replanet/rest/config/BeanConfiguration.java
  src/main/java/metaint/replanet/rest/configuration/BeanConfiguration.java
  src/main/java/metaint/replanet/rest/reviews/model/service/ReviewService.java
  src/main/java/metaint/replanet/rest/reviews/repository/CampaignReviewRepository.java
  src/main/resources/application.yml
Labels: bug

#15 [Feature] 결제 0.1.4
  src/main/java/metaint/replanet/rest/pay/controller/PayController.java
  src/main/java/metaint/replanet/rest/pay/dto/MemberDTO.java
  src/main/java/metaint/replanet/rest/pay/dto/pay/KakaoPayApprovalVO.java
  src/main/java/metaint/replanet/rest/pay/entity/Member.java
  src/main/java/metaint/replanet/rest/pay/repository/DonationRepository.java
  src/main/java/metaint/replanet/rest/pay/repository/PayRepository.java
  src/main/java/metaint/replanet/rest/pay/service/KakaoPayService.java
  src/test/java/metaint/replanet/rest/pay/KakaoPayServiceTest.java
Labels: pay

#14 [Feature]포인트 전환 신청 0.2.2
  src/main/java/metaint/replanet/rest/point/controller/ExchangeController.java
  src/test/java/metaint/replanet/rest/point/pointTest.java
Labels: point

#13 [Feature] 통계 0.1.2
  src/main/java/metaint/replanet/rest/chart/repository/ChartRepository.java
  src/test/java/metaint/replanet/rest/chart/repository/ChartRepositoryTest.java
  src/test/java/metaint/replanet/rest/chart/service/ChartServiceTest.java
Labels: chart

#11 [Feature]캠페인 리스트 조회 0.1.2
  src/main/java/metaint/replanet/rest/campaign/dto/CampaignDescriptionDTO.java
  src/main/java/metaint/replanet/rest/campaign/entity/CampaignDescription.java
  src/test/java/metaint/replanet/rest/campaign/service/CampaignServiceTest.java
Labels: campaign

#16 리뷰 전체적으로 리팩토링
  src/main/java/metaint/replanet/rest/reviews/dto/CampaignDTO.java
  src/main/java/metaint/replanet/rest/reviews/dto/CombineReviewDTO.java
  src/main/java/metaint/replanet/rest/reviews/dto/ReviewDTO.java
  src/main/java/metaint/replanet/rest/reviews/entity/Campaign.java
  src/main/java/metaint/replanet/rest/reviews/entity/Review.java
  src/main/java/metaint/replanet/rest/reviews/model/controller/ReviewController.java
  src/main/java/metaint/replanet/rest/reviews/model/service/ReviewService.java
  src/main/java/metaint/replanet/rest/reviews/repository/CampaignReviewRepository.java
  src/main/resources/application.yml
  src/test/java/metaint/replanet/rest/reviews/ReviewTestApplication.java
Labels: enhancement, review

#17 리뷰 리팩토링 TDD 수정 & 시큐리티 authentication 모두 허용
  src/main/java/metaint/replanet/rest/auth/config/SecurityConfig.java
  src/main/java/metaint/replanet/rest/reviews/dto/ReviewDTO.java
  src/test/java/metaint/replanet/rest/reviews/ReviewTestApplication.java
Labels: enhancement, review

#20 [Feature]캠페인 리스트 조회 0.1.3
  src/main/java/metaint/replanet/rest/campaign/controller/CampaignController.java
  src/main/java/metaint/replanet/rest/campaign/dto/CampaignDescriptionDTO.java
  src/main/java/metaint/replanet/rest/campaign/entity/CampaignDescription.java
  src/main/java/metaint/replanet/rest/campaign/service/CampaignService.java
  src/main/resources/application.yml
  src/test/java/metaint/replanet/rest/campaign/service/CampaignServiceTest.java
Labels: campaign

#22 [Feature] 통계 0.1.3
  src/main/java/metaint/replanet/rest/chart/controller/ChartController.java
  src/main/java/metaint/replanet/rest/chart/dto/CountByCategoryDTO.java
  src/main/java/metaint/replanet/rest/chart/dto/CountByMonthlyDTO.java
  src/main/java/metaint/replanet/rest/chart/dto/CurrentBudgetByCategoryDTO.java
  src/main/java/metaint/replanet/rest/chart/dto/GoalBudgetByCategoryDTO.java
  src/main/java/metaint/replanet/rest/chart/entity/CampaignDescription.java
  src/main/java/metaint/replanet/rest/chart/repository/ChartRepository.java
  src/main/java/metaint/replanet/rest/chart/service/ChartService.java
  src/test/java/metaint/replanet/rest/chart/repository/ChartRepositoryTest.java
  src/test/java/metaint/replanet/rest/chart/service/ChartServiceTest.java
Labels: chart

#21 [Feature]포인트 전환 신청 0.2.3 / 전환 신청 목록 조회 0.1.1 / 전환 신청 목록 조건 조회 0.1.1 / 전환 신청 단건 상세 조회 0.1.1
  src/main/java/metaint/replanet/rest/point/controller/ExchangeController.java
  src/main/java/metaint/replanet/rest/point/dto/ExchangeDTO.java
  src/main/java/metaint/replanet/rest/point/dto/MemberDTO.java
  src/main/java/metaint/replanet/rest/point/dto/PointFileDTO.java
  src/main/java/metaint/replanet/rest/point/entity/Exchange.java
  src/main/java/metaint/replanet/rest/point/entity/Member.java
  src/main/java/metaint/replanet/rest/point/entity/PointFile.java
  src/main/java/metaint/replanet/rest/point/repository/ExchangeRepository.java
  src/main/java/metaint/replanet/rest/point/service/ExchangeService.java
  src/test/java/metaint/replanet/rest/point/repository/pointRepositoryTest.java
  src/test/java/metaint/replanet/rest/point/service/pointServiceTest.java
Labels: point

#34 [Feature] 통계 0.1.4
  src/main/java/metaint/replanet/rest/chart/dto/CountAndSumByCategoryDTO.java
  src/main/java/metaint/replanet/rest/chart/dto/CountAndSumByMonthlyDTO.java
  src/main/java/metaint/replanet/rest/chart/dto/CountByCategoryDTO.java
  src/main/java/metaint/replanet/rest/chart/dto/CountByMonthlyDTO.java
  src/main/java/metaint/replanet/rest/chart/dto/CurrentBudgetByCategoryDTO.java
  src/main/java/metaint/replanet/rest/chart/dto/GoalBudgetByCategoryDTO.java
  src/main/java/metaint/replanet/rest/chart/entity/CampaignDescription.java
  src/main/java/metaint/replanet/rest/chart/repository/ChartRepository.java
  src/main/java/metaint/replanet/rest/chart/service/ChartService.java
  src/test/java/metaint/replanet/rest/chart/repository/ChartRepositoryTest.java
  src/test/java/metaint/replanet/rest/chart/service/ChartServiceTest.java
Labels: chart

#33 [Feature] 결제 0.1.6 (중간점검)
  11-03-script.sql
  src/main/java/metaint/replanet/rest/pay/controller/PayController.java
  src/main/java/metaint/replanet/rest/pay/service/PayService.java
  src/main/resources/application.yml
  src/test/java/metaint/replanet/rest/pay/PayServiceTest.java
Labels: pay

#32 [Feature]포인트 전환 신청 0.2.4, 전환 신청 목록 조회 0.1.2, 전환 신청 목록 조건 조회 0.1.2, 전환 신청 단건 상세 조회 0.1.2, 전환 신청 승인/반려 0.1.1
  build.gradle
  src/main/java/metaint/replanet/rest/auth/entity/Member.java
  src/main/java/metaint/replanet/rest/point/entity/Exchange.java
  src/main/java/metaint/replanet/rest/point/entity/Member.java
  src/main/java/metaint/replanet/rest/point/repository/MemberPointRepository.java
  src/test/java/metaint/replanet/rest/point/repository/pointRepositoryTest.java
Labels: point

#39 [Feature] 회원가입 0.2.5
  src/main/java/metaint/replanet/rest/auth/coolsms/SmsController.java
Labels: login

#40 [Feature] 포인트 내역 조회 0.1.1
  11-03-script.sql
  src/main/java/metaint/replanet/rest/point/dto/ExchangeDTO.java
  src/main/java/metaint/replanet/rest/point/dto/PointHistoryDTO.java
  src/main/java/metaint/replanet/rest/point/entity/Exchange.java
  src/main/java/metaint/replanet/rest/point/repository/ExchangeRepository.java
  src/test/java/metaint/replanet/rest/point/repository/pointRepositoryTest.java
Labels: point

#41 [Feature] 결제 0.1.7
  11-03-script.sql
  src/main/java/metaint/replanet/rest/pay/controller/PayController.java
  src/main/java/metaint/replanet/rest/pay/repository/PayCampaignRepository.java
  src/main/java/metaint/replanet/rest/pay/repository/PayRepository.java
  src/main/java/metaint/replanet/rest/pay/service/PayService.java
Labels: pay

#44 [FEATURE] 리뷰 수정 0.2.1
  11-03-script.sql
  src/main/java/metaint/replanet/rest/reviews/dto/CombineReviewDTO.java
  src/main/java/metaint/replanet/rest/reviews/dto/ReviewDTO.java
  src/main/java/metaint/replanet/rest/reviews/dto/ReviewFileCombineDTO.java
  src/main/java/metaint/replanet/rest/reviews/dto/ReviewFileDTO.java
  src/main/java/metaint/replanet/rest/reviews/entity/Campaign.java
  src/main/java/metaint/replanet/rest/reviews/entity/Review.java
  src/main/java/metaint/replanet/rest/reviews/entity/ReviewFile.java
  src/main/java/metaint/replanet/rest/reviews/model/controller/ReviewController.java
  src/main/java/metaint/replanet/rest/reviews/model/service/ReviewService.java
  src/main/java/metaint/replanet/rest/reviews/repository/ReviewFileRepository.java
  src/main/java/metaint/replanet/rest/reviews/repository/ReviewRepository.java
  src/main/java/metaint/replanet/rest/util/FileUploadUtils.java
  src/main/resources/application.yml
Labels: review

#42 Replanet lhj 06
  build.gradle
  src/main/java/metaint/replanet/rest/chart/controller/ChartController.java
  src/main/java/metaint/replanet/rest/chart/service/ChartService.java
  src/main/java/metaint/replanet/rest/chatbot/entity/Chatbot.java
  src/main/java/metaint/replanet/rest/chatbot/repository/ChatbotRepository.java
  src/main/java/metaint/replanet/rest/common/ResponseMessageDTO.java
  src/main/java/metaint/replanet/rest/config/SwaggerConfiguration.java
  src/test/java/metaint/replanet/rest/chart/service/ChartServiceTest.java
  src/test/java/metaint/replanet/rest/chatbot/repository/ChatbotRepositoryTest.java
Labels: chatbot

#49 [Feature] 포인트 내역 조회 0.1.2, 전환 신청 목록 조회 0.2.1
  src/main/java/metaint/replanet/rest/point/controller/ExchangeController.java
  src/main/java/metaint/replanet/rest/point/dto/PointHistoryDTO.java
  src/main/java/metaint/replanet/rest/point/repository/ExchangeRepository.java
  src/main/java/metaint/replanet/rest/point/service/ExchangeService.java
  src/test/java/metaint/replanet/rest/point/pointTest.java
  src/test/java/metaint/replanet/rest/point/repository/pointRepositoryTest.java
  src/test/java/metaint/replanet/rest/point/service/pointServiceTest.java
Labels: point

#46 [Feature] 챗봇 조회 0.1.2
  src/main/java/metaint/replanet/rest/chart/controller/ChartController.java
  src/main/java/metaint/replanet/rest/chart/repository/ChartRepository.java
  src/main/java/metaint/replanet/rest/chatbot/controller/ChatbotController.java
  src/main/java/metaint/replanet/rest/chatbot/dto/ChatbotDTO.java
  src/main/java/metaint/replanet/rest/chatbot/entity/Chatbot.java
  src/main/java/metaint/replanet/rest/chatbot/repository/ChatbotRepository.java
  src/main/java/metaint/replanet/rest/chatbot/service/ChatbotService.java
  src/test/java/metaint/replanet/rest/chatbot/repository/ChatbotRepositoryTest.java
  src/test/java/metaint/replanet/rest/chatbot/service/ChatbotServiceTest.java
Labels: chatbot

#47 [Feature] 결제 0.1.8
  11-03-script.sql
  src/main/java/metaint/replanet/rest/pay/controller/PayController.java
  src/main/java/metaint/replanet/rest/pay/dto/pay/DonationAmountDTO.java
  src/main/java/metaint/replanet/rest/pay/repository/PayCampaignRepository.java
  src/main/java/metaint/replanet/rest/pay/service/PayService.java
Labels: pay

#55 [Feature] 캠페인 리스트 조회 0.2.2
  src/main/java/metaint/replanet/rest/campaign/controller/CampaignController.java
  src/main/java/metaint/replanet/rest/campaign/entity/CampaignAndFile.java
  src/main/java/metaint/replanet/rest/campaign/entity/CampaignDescFile.java
  src/main/java/metaint/replanet/rest/campaign/service/CampaignService.java
  src/test/java/metaint/replanet/rest/campaign/controller/CampaignControllerTest.java
Labels: campaign

#56 [Feature] 결제 0.1.9
  src/main/java/metaint/replanet/rest/pay/controller/PayController.java
  src/main/java/metaint/replanet/rest/pay/entity/Member.java
  src/main/java/metaint/replanet/rest/pay/repository/DonationRepository.java
  src/main/java/metaint/replanet/rest/pay/repository/PayMemberRepository.java
  src/main/java/metaint/replanet/rest/pay/repository/PayRepository.java
  src/main/java/metaint/replanet/rest/pay/service/PayService.java
  src/main/resources/application.yml
Labels: pay

#65 [Feature] 포인트 전환 신청 0.2.6, 전환 신청 목록 조회 0.2.2, 전환 신청 단건 상세 조회 0.1.4
  src/main/java/metaint/replanet/rest/point/controller/ExchangeController.java
  src/main/java/metaint/replanet/rest/point/service/ExchangeService.java
  src/test/java/metaint/replanet/rest/point/service/pointServiceTest.java
Labels: point

#64 [FEATURE] 리뷰에서 토큰 extract
  11-03-script.sql
  src/main/java/metaint/replanet/rest/auth/entity/Member.java
  src/main/java/metaint/replanet/rest/auth/jwt/TokenProvider.java
  src/main/java/metaint/replanet/rest/reviews/model/controller/ReviewController.java
  src/main/java/metaint/replanet/rest/reviews/model/service/ReviewService.java
  src/main/resources/application.yml
Labels: comments

#63 [Feature] 결제 0.2.0
  11-03-script.sql
  src/main/java/metaint/replanet/rest/pay/controller/PayController.java
  src/main/java/metaint/replanet/rest/pay/entity/Donation.java
  src/main/java/metaint/replanet/rest/pay/entity/Member.java
  src/main/java/metaint/replanet/rest/pay/entity/Pay.java
  src/main/java/metaint/replanet/rest/pay/repository/PayMemberRepository.java
  src/main/java/metaint/replanet/rest/pay/service/PayService.java
Labels: pay

#62 [Feature] 캠페인 리스트 조회 0.2.3
  11-03-script.sql
  src/main/java/metaint/replanet/rest/campaign/controller/CampaignController.java
  src/main/java/metaint/replanet/rest/campaign/entity/CampaignAndFile.java
  src/main/java/metaint/replanet/rest/campaign/entity/CampaignDescFile.java
  src/main/java/metaint/replanet/rest/campaign/repository/CampaignAndFileRepository.java
  src/main/java/metaint/replanet/rest/campaign/repository/CampaignFileRepository.java
  src/main/java/metaint/replanet/rest/campaign/service/CampaignService.java
  src/main/java/metaint/replanet/rest/reviews/model/service/ReviewService.java
  src/test/java/metaint/replanet/rest/campaign/service/CampaignServiceTest.java
Labels: campaign

#70 [FEATURE] 댓글 조회 마무리 0.5.0
  src/main/java/metaint/replanet/rest/reviews/dto/CampaignDTO.java
  src/main/java/metaint/replanet/rest/reviews/dto/CombineReviewDTO.java
  src/main/java/metaint/replanet/rest/reviews/dto/MemberDTO.java
  src/main/java/metaint/replanet/rest/reviews/entity/Campaign.java
  src/main/java/metaint/replanet/rest/reviews/entity/Member.java
  src/main/java/metaint/replanet/rest/reviews/entity/Review.java
  src/main/java/metaint/replanet/rest/reviews/entity/ReviewFile.java
  src/main/java/metaint/replanet/rest/reviews/model/controller/ReviewController.java
  src/main/java/metaint/replanet/rest/reviews/model/service/ReviewService.java
  src/main/java/metaint/replanet/rest/reviews/repository/ReviewCommentRepository.java
  src/main/java/metaint/replanet/rest/reviews/repository/ReviewRepository.java
Labels: review, comments

#71 [Feature] 캠페인 조회 0.3.1
  src/main/java/metaint/replanet/rest/campaign/controller/CampaignController.java
  src/main/java/metaint/replanet/rest/campaign/entity/Donation.java
  src/main/java/metaint/replanet/rest/campaign/repository/CampaignFileRepository.java
  src/main/java/metaint/replanet/rest/campaign/repository/CampaignRepository.java
  src/main/java/metaint/replanet/rest/campaign/repository/DonationRepository1.java
  src/main/java/metaint/replanet/rest/campaign/repository/ParticipationRepository.java
  src/main/java/metaint/replanet/rest/campaign/service/CampaignService.java
  src/test/java/metaint/replanet/rest/campaign/service/CampaignServiceTest.java
  src/test/java/metaint/replanet/rest/reviews/repository/ReviewRepositoryTest.java
Labels: campaign

#72 [Feature] 통계 조회 0.1.7
  src/main/java/metaint/replanet/rest/chart/dto/CountAndSumByCategoryDTO.java
  src/main/java/metaint/replanet/rest/chart/dto/CountAndSumByMonthlyDTO.java
  src/main/java/metaint/replanet/rest/chart/entity/Donation.java
  src/main/java/metaint/replanet/rest/chart/repository/ChartRepository.java
  src/main/java/metaint/replanet/rest/chart/repository/DonationChartRepository.java
  src/main/java/metaint/replanet/rest/chart/service/ChartService.java
  src/test/java/metaint/replanet/rest/chart/repository/ChartRepositoryTest.java
  src/test/java/metaint/replanet/rest/chart/service/ChartServiceTest.java
Labels: chart

#73 [Feature] [Bugfix] 포인트 내역 조회 0.1.3, 전환 신청 승인/반려 0.1.3
  src/main/java/metaint/replanet/rest/config/WebConfig.java
  src/main/java/metaint/replanet/rest/point/controller/ExchangeController.java
  src/main/java/metaint/replanet/rest/point/entity/Member.java
  src/main/java/metaint/replanet/rest/point/service/ExchangeService.java
Labels: point

#80 [FEATURE] 관리자가 댓글 삭제시 댓글 상태 변경 0.6.2
  src/main/java/metaint/replanet/rest/pay/repository/ReviewMemberRepository.java
  src/main/java/metaint/replanet/rest/reviews/dto/MemberDTO.java
  src/main/java/metaint/replanet/rest/reviews/dto/ReviewCommentDTO.java
  src/main/java/metaint/replanet/rest/reviews/entity/Member.java
  src/main/java/metaint/replanet/rest/reviews/entity/ReviewComment.java
  src/main/java/metaint/replanet/rest/reviews/model/controller/ReviewController.java
  src/main/java/metaint/replanet/rest/reviews/model/service/ReviewService.java
  src/main/java/metaint/replanet/rest/reviews/repository/ReviewCommentRepository.java
  src/main/java/metaint/replanet/rest/reviews/repository/ReviewMemberRepository.java
  src/main/java/metaint/replanet/rest/reviews/repository/ReviewRepository.java
  src/test/java/metaint/replanet/rest/reviews/service/ReviewServiceTest.java
Labels: comments

#76 [FEATURE] 댓글 수정 0.6.0
  src/main/java/metaint/replanet/rest/reviews/dto/ReviewCommentDTO.java
  src/main/java/metaint/replanet/rest/reviews/entity/ReviewComment.java
  src/main/java/metaint/replanet/rest/reviews/model/controller/ReviewController.java
  src/main/java/metaint/replanet/rest/reviews/model/service/ReviewService.java
  src/main/java/metaint/replanet/rest/reviews/repository/ReviewCommentRepository.java
  src/main/java/metaint/replanet/rest/reviews/repository/ReviewRepository.java
  src/test/java/metaint/replanet/rest/reviews/service/ReviewServiceTest.java
Labels: comments

#78 [Feature] 캠페인 조회 0.3.2
  src/main/java/metaint/replanet/rest/campaign/controller/CampaignController.java
  src/main/java/metaint/replanet/rest/campaign/repository/CampaignRepository.java
  src/main/java/metaint/replanet/rest/campaign/service/CampaignService.java
  src/test/java/metaint/replanet/rest/campaign/service/CampaignServiceTest.java
Labels: campaign

#77 [Feature] 전환 신청 목록 조건 조회 0.1.3
  src/main/java/metaint/replanet/rest/point/controller/ExchangeController.java
  src/main/java/metaint/replanet/rest/point/service/ExchangeService.java
Labels: point

#83 [Feature] 북마크 0.4.1
  src/main/java/metaint/replanet/rest/campaign/controller/CampaignController.java
Labels: campaign

#88 [Feature] 통계 조회 0.2.1
  src/main/java/metaint/replanet/rest/chart/controller/ChartController.java
  src/main/java/metaint/replanet/rest/chart/dto/CountAndSumByMonthlyDTO.java
  src/main/java/metaint/replanet/rest/chart/dto/DonationByTimeDTO.java
  src/main/java/metaint/replanet/rest/chart/entity/Donation.java
  src/main/java/metaint/replanet/rest/chart/entity/Member.java
  src/main/java/metaint/replanet/rest/chart/entity/Pay.java
  src/main/java/metaint/replanet/rest/chart/repository/ChartRepository.java
  src/main/java/metaint/replanet/rest/chart/repository/DonationChartRepository.java
  src/main/java/metaint/replanet/rest/chart/service/ChartService.java
  src/test/java/metaint/replanet/rest/chart/repository/DonationChartRepositoryTest.java
  src/test/java/metaint/replanet/rest/chart/service/ChartServiceTest.java
  src/test/java/metaint/replanet/rest/chatbot/service/ChatbotServiceTest.java
Labels: chart

#85 [FEATURE] 리뷰 없는 캠페인 조회 리소스 변경 0.6.3
  src/main/java/metaint/replanet/rest/reviews/entity/Review.java
  src/main/java/metaint/replanet/rest/reviews/model/controller/ReviewController.java
  src/main/java/metaint/replanet/rest/reviews/model/service/ReviewService.java
  src/main/java/metaint/replanet/rest/reviews/repository/CampaignReviewRepository.java
  src/main/java/metaint/replanet/rest/reviews/repository/ReviewRepository.java
Labels: review

#89 [Feature] 북마크 0.4.2
  src/main/java/metaint/replanet/rest/bookmark/controller/BookmarkController.java
  src/main/java/metaint/replanet/rest/bookmark/dto/BookmarkDTO.java
  src/main/java/metaint/replanet/rest/bookmark/entity/Bookmark.java
  src/main/java/metaint/replanet/rest/bookmark/repository/BookmarkRepository.java
  src/main/java/metaint/replanet/rest/bookmark/service/BookmarkService.java
  src/main/java/metaint/replanet/rest/campaign/controller/CampaignController.java
  src/main/java/metaint/replanet/rest/campaign/entity/CampaignDescription.java
  src/main/java/metaint/replanet/rest/campaign/repository/CampaignAndFileRepository.java
  src/main/java/metaint/replanet/rest/point/entity/Member.java
  src/test/java/metaint/replanet/rest/bookmark/controller/BookmarkControllerTest.java
  src/test/java/metaint/replanet/rest/bookmark/service/BookmarkServiceTest.java
Labels: campaign

#92 [Feature] 북마크 0.4.3
  src/main/java/metaint/replanet/rest/bookmark/controller/BookmarkController.java
  src/main/java/metaint/replanet/rest/bookmark/service/BookmarkService.java
Labels: bookmark

#91 [FEATURE] 텍스트 에디터 사진 업로드 구현 중
  src/main/java/metaint/replanet/rest/reviews/dto/ImageUploadResponse.java
  src/main/java/metaint/replanet/rest/reviews/model/controller/ReviewController.java
  src/main/java/metaint/replanet/rest/reviews/model/service/ReviewService.java
Labels: review

#96 [FEATURE] 텍스트 에디터 사진 업로드 로직
  src/main/java/metaint/replanet/rest/reviews/model/controller/ReviewController.java
  src/main/java/metaint/replanet/rest/reviews/model/service/ReviewService.java
Labels: review

#94 중간점검 1차
  d
  src/main/java/metaint/replanet/rest/bookmark/controller/BookmarkController.java
  src/main/java/metaint/replanet/rest/bookmark/repository/BookmarkRepository.java
  src/main/java/metaint/replanet/rest/bookmark/service/BookmarkService.java
  src/test/java/metaint/replanet/rest/bookmark/service/BookmarkServiceTest.java
  src/test/java/metaint/replanet/rest/reviews/service/ReviewServiceTest.java
Labels: bookmark

#99 [Feature] 캠페인 수정 0.4.4
  d
  src/main/java/metaint/replanet/rest/campaign/controller/CampaignController.java
  src/main/java/metaint/replanet/rest/campaign/service/CampaignService.java
  src/main/java/metaint/replanet/rest/point/entity/Member.java
Labels: campaign, bookmark

#101 [Fix] 결제 0.2.2
  sql/11-03-script.sql
  src/main/java/metaint/replanet/rest/auth/entity/MemberRole.java
  src/main/java/metaint/replanet/rest/pay/controller/PayController.java
  src/main/java/metaint/replanet/rest/pay/repository/PayCampaignRepository.java
  src/main/java/metaint/replanet/rest/pay/repository/PayMemberRepository.java
Labels: pay

#102 [Feature] 기부금 영수증 0.2.1
  build.gradle
  src/main/java/metaint/replanet/rest/privacy/controller/PrivacyController.java
  src/main/java/metaint/replanet/rest/privacy/dto/MemberDTO.java
  src/main/java/metaint/replanet/rest/privacy/entity/Member.java
  src/main/java/metaint/replanet/rest/privacy/service/PrivacyService.java
  src/main/resources/application.yml
  src/test/java/metaint/replanet/rest/privacy/repository/privacyRepositoryService.java
  src/test/java/metaint/replanet/rest/privacy/service/privacyServiceTest.java
Labels: privacy

#106 [Fix] 캠페인 수정 0.4.5
  sql/11-03-script.sql
  src/main/java/metaint/replanet/rest/campaign/controller/CampaignController.java
  src/main/java/metaint/replanet/rest/campaign/repository/CampaignAndFileRepository.java
  src/main/java/metaint/replanet/rest/campaign/repository/CampaignRepository.java
  src/main/java/metaint/replanet/rest/campaign/service/CampaignService.java
  src/test/java/metaint/replanet/rest/campaign/service/CampaignServiceTest.java
Labels: bug, campaign, bookmark
